# Byte-compiled / cache / temp files
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.log
*.tmp

# Environment files
.env
*.env

# Allow all review parquet files to be committed
reviews_data/*
!reviews_data/*.parquet

# Main data files (keep these)
!merged_game_data.xlsx
!game_tags_and_genres.json

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
