id_check.py
key_check.py
.env
ALT_Slay_the_Spire_other_games_played.xlsx
OLD_Slay_the_Spire_other_games_played.xlsx
owned_games.xlsx
Slay_the_Spire_other_games_played.xlsx
support.ipynb
steamandsteamspy.py
